@use '../../Variables.scss' as v;

.footer {
	background: v.$section-background-3;
	color: v.$color-neutral-000;
	font-family: v.$font-secondary;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 0.5rem;
	&__technologies {
		margin-top: 0.3125rem;
		display: grid;
		grid-template-columns: repeat(2, max-content);
		column-gap: 0.3125rem;
	}
	&__technology-img {
		font-size: 1.0625rem;
	}
	&__technology-text {
		font-size: 0.5625rem;
	}
	&__text {
		font-size: 0.6875rem;
	}
	&__link {
		font-size: 0.6875rem;
		color: v.$color-neutral-000;
	}
}