@use '../../Variables.scss' as v;

@supports not (min()) {
    .home {
        height: 90vh;
        font-size: 0.625rem;
    }
}

.home {
	width: 100%;
	height: max(90vh, 36.25rem);
    font-size: max(1.17vw, 0.625rem);
	display: flex;
    justify-content: center;
	background: v.$section-background-1;
    position: relative;

	.squares {
        position: absolute;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        &__item {
            position: absolute;
            display: block;
            list-style: none;
            width: 1.25em;
            height: 1.25em;
            background: rgba(v.$color-neutral-000, 0.2);
            animation: animateSquares 25s linear infinite;
            bottom: -9.375em;
            &--1 {
                left: 25%;
                width: 5em;
                height: 5em;
                animation-delay: 0s;
            }
            &--2 {
                left: 10%;
                width: 1.25em;
                height: 1.25em;
                animation-delay: 2s;
                animation-duration: 12s;
            }
            &--3 {
                left: 70%;
                width: 1.25em;
                height: 1.25em;
                animation-delay: 4s;
            }
            &--4 {
                left: 40%;
                width: 3.75em;
                height: 3.75em;
                animation-delay: 0s;
                animation-duration: 18s;
            }
            &--5 {
                left: 65%;
                width: 1.25em;
                height: 1.25em;
                animation-delay: 0s;
            }
            &--6 {
                left: 75%;
                width: 6.875em;
                height: 6.875em;
                animation-delay: 3s;
            }
            &--7 {
                left: 35%;
                width: 9.375em;
                height: 9.375em;
                animation-delay: 7s;
            }
            &--8 {
                left: 50%;
                width: 1.5625em;
                height: 1.5625em;
                animation-delay: 15s;
                animation-duration: 45s;
            }
            &--9 {
                left: 20%;
                width: 0.9375em;
                height: 0.9375em;
                animation-delay: 2s;
                animation-duration: 35s;
            }
            &--10 {
                left: 85%;
                width: 9.375em;
                height: 9.375em;
                animation-delay: 0s;
                animation-duration: 11s;
            }
        }
    }

	.title {
        align-self: center;
        margin: 0 1rem -25vh 1rem;
        color: rgba(v.$color-neutral-000, 0.9);
		&__wrapper {
            overflow: hidden;
        }
		&__upper {
			overflow: hidden;
			transform: translate(0, 100%);
			&--anim {
				animation: showUpperText 1s;
				animation-delay: 0.5s;
				animation-fill-mode: forwards;
			}
		}
		&__lower {
			overflow: hidden;
			transform: translate(0, -100%);
			&--anim  {
				animation: showLowerText 0.5s;
				animation-delay: 1.75s;
				animation-fill-mode: forwards;
			}
	   }
	   &__upper-text {
		font-size: 3.875em;
		line-height: 100%;
		font-weight: normal;
		}
		&__lower-text {
			font-size: 2.625em;
			font-weight: normal;
		}
		&__red {
			color: v.$color-primary-200;
		}
    }
}

@keyframes showUpperText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}
@keyframes showLowerText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}

@keyframes animateSquares {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-150vh) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media only screen and (min-width: map-get(v.$bs-breakpoints, md)) {
	.home {
		font-size: max(1.17vw, 1.125rem);
	}
}

@media only screen and (min-width: map-get(v.$bs-breakpoints, lg)),
only screen and (min-aspect-ratio: 13/9) {
    .home {
        font-size: max(1.17vw, 0.625rem);
        min-height: 100vh;
        justify-content: unset;
        .title {
            align-self: flex-end;
            margin-left: 8.75em;
            margin-bottom: 8.125em;
        }
    }
}