@use '../../Variables.scss' as v;

@supports not (min()) {
    .projects {
		font-size: 3.3vw;
		&__title {
			font-size: 2.25rem;
			margin-left: 1.25rem;
		}
	}
	@media only screen and (min-width: map-get(v.$bs-breakpoints, sm)) {
		.projects {
			font-size: 1.17vw;
		}
	}
}

.projects {
	font-size: min(0.75rem, 3.3vw);
	width: 100%;
	background-color: v.$section-background-2;
	overflow: auto;
	&__title {
		@include v.sectionTitle(rgba(v.$color-secondary-700, 0.3), 1.17em, 1.17em);
	}
	&__wrapper {
		display: grid;
		place-items: center;
		row-gap: 9.375em;
		margin: auto;
		margin-bottom: 9.375em;
	}
}

@media only screen and (min-width: map-get(v.$bs-breakpoints, md)) {
	.projects {
		font-size: clamp(0.75rem, 1.17vw, 1.25rem);
	}
}