@use '../../Variables.scss' as v;

@supports not (min()) {
    #projects {
		font-size: 3.3vw;
		> h2 {
			font-size: 2.25rem;
			margin-left: 1.25rem;
		}
	}

	@media only screen and (min-width: map-get(v.$bs-breakpoints, sm)) {
		#projects {
			font-size: 1.17vw;
		}
	}
}

#projects {
	font-size: min(0.75rem, 3.3vw);
	width: 100%;
	background-color: v.$section-background-2;
	padding-bottom: 9.375em;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		@include v.sectionTitle(rgba(v.$color-secondary-700, 0.3), 1.17em, 1.17em);
	}
	.wrapper {
		display: grid;
		grid-template-rows: repeat(3, max-content);
		row-gap: 9.375em;
		margin: auto;
	}
}

@media only screen and (min-width: map-get(v.$bs-breakpoints, md)) {
	#projects {
		font-size: clamp(0.75rem, 1.17vw, 1.25rem);
	}
}