@use '../Variables.scss' as v;

.link {
	font-weight: bold;
	padding: 0.5em 1.0625em;
	text-decoration: none;
	cursor: pointer;
}

.link-blue, .link-violet, .link-light-blue {
	color: v.$project-button-font-color;
}

.link-blue {
	background-color: v.$project-button-blue;
	&:hover {
		background-color: v.$project-button-blue-hover;
	}
}

.link-violet {
	background-color: v.$project-button-violet;
	&:hover {
		background-color: v.$project-button-violet-hover;
	}
}

.link-light-blue {
	background-color: v.$project-button-light-blue;
	&:hover {
		background-color: v.$project-button-light-blue-hover;
	}
}


.link-white {
	color: v.$project-button-white-font;
	background-color: v.$project-button-white;
	&:hover {
		background-color: v.$project-button-white-hover;
	}
}