@use "../Variables.scss" as v;

.project-link {
	font-weight: bold;
	padding: 0.5em 1.0625em;
	text-decoration: none;
	cursor: pointer;
	color: v.$project-link-font-color;

	@each $name, $color in v.$project-link-colors {
		&--#{$name} {
			@if map-get($color, "font") {
				color: map-get($color, "font");
			}
			background-color: map-get($color, main);
			&:hover {
				background-color: map-get($color, hover);
			}
		}
	}
}
