.technology {
	display: grid;
	row-gap: 0.1875rem;
	place-items: center;
	&__name {
		visibility: hidden;
	}
	&__icon--filter-blue {
		filter: brightness(0.9) sepia(1) hue-rotate(180deg) saturate(5);
	}
	&__icon--filter-violet {
		filter: brightness(0.9) sepia(1) hue-rotate(240deg) saturate(5);
	}
	&__icon--filter-light-blue {
		filter: brightness(0.6) sepia(1) hue-rotate(150deg) saturate(5);
		font-size: 1.3em;
	}
	&__icon--filter-dark-blue {
		filter: brightness(0.8) sepia(1) hue-rotate(185deg) saturate(1.6);
	}
	&__icon:hover {
		filter: none;
	}
	&__icon:hover ~ .technology__name {
		visibility: visible;
	}
}
