@use '../Variables.scss' as v;

.ui-message {
	display: flex;
	background-color: v.$color-secondary-900;
	padding: 1.0625rem 1.25rem;
	box-shadow: 0.3125rem 0.3125rem 1.25rem rgba(v.$color-secondary-900, 0.35);
	position: fixed;
	right: 1.5625rem;
	bottom: 1.25rem;
	z-index: 10;

	&__text {
		font-size: 0.875rem;
		color: v.$color-neutral-100;
	}
	&__link {
		color: v.$color-neutral-100;
	}

	&__successful-icon {
		color: v.$color-secondary-300;
		font-size: 1.125rem;
		margin-right: 0.625rem;
	}
	&__error-icon {
		color: v.$color-secondary-400;
		font-size: 1.125rem;
		margin-right: 0.625rem;
	}

	&--in {
		animation: messageIn ease-out 0.15s;
	}
	&--out {
		animation: messageOut ease-in 0.2s;
	}
}


@keyframes messageIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes messageOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}