.ui-message {
	display: flex;
	background-color: #0B101C;
	padding: 1.0625rem 1.25rem;
	box-shadow: 0.3125rem 0.3125rem 1.25rem #00000054;
	position: fixed;
	right: 1.5625rem;
	bottom: 1.25rem;
	z-index: 10;
	> span {
		font-size: 0.875rem;
		color: #F5F5F5;
	}
	a {
		color: #F5F5F5;
	}
}

.ui-message-sucessful {
	> svg {
		color: #7BEA24;
		font-size: 1.125rem;
		margin-right: 0.625rem;
	}
}
.ui-message-error {
	> svg {
		color: #D81F1F;
		font-size: 1.125rem;
		margin-right: 0.625rem;
	}
}