@use './Variables.scss' as v;

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: v.$font-primary;
}

.overflow-hidden {
	overflow: hidden;
}