//	Same Tailwind breakpoints
$bs-breakpoints: (
	sm: 640px,
	md: 768px,
	lg: 1024px,
	xl: 1280px,
	2xl: 1536px,
);

$font-primary: "Lalezar", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$color-primary-200: hsl(357, 79%, 53%);
$color-primary-600: hsl(224, 44%, 15%);
$color-neutral-000: hsl(0, 0%, 100%);
$color-neutral-100: hsl(0, 0%, 96%);
$color-neutral-500: hsl(0, 0%, 50%);
$color-neutral-750: hsl(0, 0%, 25%);
$color-neutral-1000: hsl(0, 0%, 0%);
$color-secondary-300: hsl(94, 83%, 53%); //	Success ui message
$color-secondary-400: hsl(0, 75%, 48%); //	Error ui message
$color-secondary-450: hsl(224, 44%, 45%); //	Middle line in about
$color-secondary-650: hsl(15, 78%, 50%); //	Form-button 2nd color in gradient
$color-secondary-700: hsl(233, 14%, 35%); //	Project title
$color-secondary-800: hsl(224, 43%, 12%); //	Navbar-shadow in scroll
$color-secondary-900: hsl(220, 45%, 8%); //	Background ui message

$section-background-1: linear-gradient(180deg, hsl(216, 90%, 8%) 0%, hsl(195, 90%, 8%) 100%);
$section-background-2: hsl(0, 0%, 95%);
$section-background-3: linear-gradient(90deg, hsl(224, 44%, 15%) 83%, hsl(224, 44%, 10%) 100%);

//	Projects cards
$card-width-mob: 90vw;
$card-width-tab: 80vw;
$card-width-desk-and-up: 65vw;
//	Aside and border of project card
//	For mobiles
$left-cut-mob: 88%;
$right-cut-mob: 74%;
$border-right-cut-mob: 68%;
//	For desktop and up devices
$top-cut-desk-and-up: 80%;
$border-top-cut-desk-and-up: 74%;
$bottom-cut-desk-and-up: 53%;

//	1st Gradient color
$card-aside-colors: (
	"light-green": hsl(176, 99%, 33%),
	"orange": hsl(11, 90%, 25%),
	"blue": hsl(214, 90%, 25%),
	"violet": hsl(281, 90%, 25%),
	"green": hsl(170, 48%, 25%),
	"light-blue": hsl(198, 90%, 25%),
	);
	//	2nd Gradient color
	// Same hue as 1st gradient
$card-aside-2nd-saturation: 92%;
$card-aside-2nd-lightness: 10%;

//	1st Gradient color
$card-border-aside-colors: (
	"light-green": hsl(176, 99%, 38%),
	"orange": hsl(11, 90%, 42%),
	"blue": hsl(214, 90%, 46%),
	"violet": hsl(281, 90%, 46%),
	"green": hsl(170, 48%, 46%),
	"light-blue": hsl(198, 90%, 46%),
);
//	2nd Gradient color
// Same hue as 1st gradient
$card-border-aside-neutral-portrait-saturation: 89%;
$card-border-aside-neutral-portrait-lightness: 27%;
$card-border-aside-neutral-landscape-saturation: 89%;
$card-border-aside-neutral-landscape-lightness: 11%;

//	Projects buttons
$project-link-font-color: hsl(0, 0%, 95%);
$project-link-colors: (
	"light-green": (
		"main": hsl(176, 99%, 35%),
		"hover": hsl(176, 99%, 36%),
	),
	"orange": (
		"main": hsl(11, 91%, 35%),
		"hover": hsl(11, 91%, 38%),
	),
	"green": (
		"main": hsl(170, 48%, 35%),
		"hover": hsl(170, 48%, 39%),
	),
	"violet": (
		"main": hsl(281, 91%, 35%),
		"hover": hsl(281, 91%, 40%),
	),
	"blue": (
		"main": hsl(214, 91%, 35%),
		"hover": hsl(214, 91%, 39%),
	),
	"light-blue": (
		"main": hsl(198, 91%, 35%),
		"hover": hsl(198, 91%, 44%),
	),
	"white": (
		"font": hsl(0, 0%, 31%),
		"main": hsl(0, 0%, 90%),
		"hover": hsl(0, 0%, 97%),
	),
);

// Load either jpg and webp images
$project-images: (
	"pslwallet": "../assets/images/pslwallet",
	"yup-commerce": "../assets/images/yup-commerce",
	"ah-carajo": "../assets/images/ah-carajo",
	"coin-x-coin": "../assets/images/coin-x-coin",
	"serner": "../assets/images/serner",
	"fast-motion": "../assets/images/fast-motion",
);

@mixin sectionTitle($color, $margin-top, $margin-bottom) {
	@supports not (clamp()) {
		margin: $margin-top auto $margin-bottom max(1.25rem, 7vw);
	}
	font-family: $font-primary;
	font-size: clamp(2.25rem, 3.75vw, 3.1875rem);
	font-weight: normal;
	color: $color;
	margin: $margin-top auto $margin-bottom clamp(1.25rem, 7vw, 3.125rem);
}
